/* general styling */
main {
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --primary-dgreen: #2A3823;
  --primary-lgray: #F9F9F9;
  --secondary-orange: #E36C30;
  --secondary-black:#000000;
  --secondary-dgray:#383838;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
 
}

body {
  line-height: 1.4;
   background-color: var(--primary-lgray);
}


  /* fonts */

p, h3, h4, li{ 
  font-family: 'Poppins', sans-serif;
}
p, li{
  font-size: small;
}
h2{
  font-size: large;
}

h1, h2{
   font-family: 'Sofia Sans Variable', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}








