---
import MainLayout from "../components/MainLayout.astro";
import Bestyrrelse from "../components/Bestyrrelse.astro";
---
<html lang="da">
<body>
<MainLayout>

<Bestyrrelse header="Klubbens bestyrrelse" />

<article class="grid">
<Bestyrrelse >
    <section>
    <div class="img">
        <img src="team_pic.webp" alt="">
        </div>
        <div class="info">
            <p><br><b>Formand</b>
                <br>Henrik Roar Petersen
                <br>Ørningvej 16 <br>4140 Borup
                <br>Tlf. 51 16 89 21</p>
        </div>
    </section>
</Bestyrrelse>

<Bestyrrelse>
    <section>
<div class="img">
    <img src="team_pic.webp" alt="">
    </div>

        <div class="info">
            <p><br><b>Næstformand</b>
                <br>Thomas Holland 
                <br>Bakkegårds Alle 54<br>4140 Borup
                <br>Tlf. 40 16 01 15</p>
        </div>
    </section>
</Bestyrrelse>

<Bestyrrelse>
    <section>
        <div class="img">
            <img src="team_pic.webp" alt="">
             </div>
                
                 <div class="info">
                        <p><br><b>Kasserer</b>
                            <br>Torben Hansen
                            <br>Stenhøjparken 91<br>4140 Borup
                            <br>Tlf. 26 15 74 04</p>
                </div>
</section>
</Bestyrrelse>

<Bestyrrelse>
    <section>
        <div class="img">
            <img src="team_pic.webp" alt="">
            </div>
                        
                    <div class="info">
                            <p><br><b>Best.medlem</b>
                                <br>Morten Bjældager
                                <br>Havremarken 2<br>4140 Borup
                                <br>Tlf. 20 10 15 03</p>
                    </div>
</section>
</Bestyrrelse>

<Bestyrrelse>
<section>
    <div class="img">
        <img src="team_pic.webp" alt="">
    </div>
                            
                <div class="info">
                        <p><br><b>Best.medlem</b>
                            <br>Poul Røge
                             <br>Bygmarken 6<br>4140 Borup
                              <br>Tlf. 30 27 43 17</p>
                  </div> 
</section>   
</Bestyrrelse>
</article>

</MainLayout>
</body>
</html>

<style>
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 2rem;
}    
img {
width: 100%;
margin-top: -4rem;
}

.info {
margin-top: -1.5rem;
line-height: 1.5rem;
margin-bottom: 2rem;
}

@media (min-width: 599px) { 
.grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 5rem;
}

img {
width: 100%;
margin-top: -2rem;
}

}
</style>