--- 
import MainLayout from "../components/MainLayout.astro";
import InfoBox from "../components/InfoBox.astro";
--- 


<MainLayout>

<div class="container">
    <InfoBox/>
</div>

</MainLayout>


<style>

</style>
