---
import Graybox from "../components/Graybox.astro";
import MainLayout from "../components/MainLayout.astro";
import Card from "../components/Card.astro";
import Whitebox from "../components/Whitebox.astro";
import Buttons from "../components/Buttons.astro";

const data = await fetch("https://tpkcubibhsjksznxidsa.supabase.co/rest/v1/fetch", 
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwa2N1YmliaHNqa3N6bnhpZHNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDE2OTA2MjAsImV4cCI6MjAxNzI2NjYyMH0.l7F0Hy6ns8ad6EpyOuzi7ZKBmOM2aI7XeF_VX7Ka7dA"
    },
}).then(res=>res.json());
---
<html lang="da">
  <body>
    <MainLayout>

      <Whitebox>
        <video src="../../public/place-holder.mp4"></video>
      </Whitebox>
      
      <Graybox>
        <h2 class="grayboxtext">Vores seneste ture</h2>
        <Buttons>
          <article>
            <div class="buttons">
                <img src="SVG/button_left.svg" id="backBtn" alt="">
                <img src="SVG/button_right.svg" id="nextBtn" alt="">
            </div>
            </article>
        </Buttons>
        
        <section class="card">
        {
        data.map((show)=>{
          return <Card data={show} />;
        })
        } 
        </section>
      </Graybox>
      <Whitebox>
        <div class="indexgrid">
        <img src="../../public/orange-bike.webp" alt="orange cykel">
        <div class="køredage">
        <h2>Køredage</h2>
        <p>
            Søndag. kl.09:00 <br>
            
            Tirs og Tors: kl.17:30 (marts-september) <br>
            
            Tirs og Tors: kl.16:30 (1.oktober til sommertid)</p>
        </div>
    </div>
      </Whitebox>
      <Graybox>
        <div class="indexgrid">
            <div class="imggrid">
                <img class="firstimg" src="../../public/team_pic.webp" alt="Billede af Borup motion cykel hold">
                <img src="../../public/team_pic.webp" alt="Billede af Borup motion cykel hold">
                <img src="../../public/team_pic.webp" alt="Billede af Borup motion cykel hold">
            </div>
            <div class="grayboxtext">
          <h2>Hold</h2>
          <p>Kom og vær med. Vi har hold for dig som er ny, øvet eller har lyst til at komme ud i det frie med familien!</p>
          <button>Tilmeld</button>
        </div>
    </div>
      </Graybox>
      <Whitebox>
        <h2 class="vises">Vi ses hos Borup Cykel Motion</h2>
        <img src="../../public/team_pic.webp" alt="Billede af Borup motion cykel hold">
</Whitebox>


</MainLayout>
</body>
</html>


<style>
  .grayboxtext{
    color: var(--primary-lgray);
}
.firstimg{
    grid-row: span 2;
    object-fit:fill;
}
.vises{
    display: flex;
    justify-content: center;
  }
  video {
    width: 90%;
    margin: 0 1rem;
}
.imggrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.køredage{
    margin: auto;
    align-self: center;
}


.card {
      display: flex;
      overflow-x: scroll;
      gap: 2rem;
      background-color: #383838;
      margin: 1rem;
      margin-bottom:5rem
    }
.buttons {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    gap: 20rem;
    margin-top: 10rem;
    position: absolute;
    z-index: 1;
}

#backBtn, #nextBtn {
    width: 30px;
    cursor: pointer;
    margin: 10px;
}

    
    @media (min-width: 599px) {
      .indexgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        margin-bottom: -2rem;
        align-items: center;
    }

    .card {
      display: flex;
      overflow-x: scroll;
      gap: 3rem;
      background-color: #383838;
      margin: 0rem;
      margin-bottom:5rem
    }


.buttons {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: 64.5rem;
    margin-top: 11rem;
    position: absolute;
    z-index: 1;
}

#backBtn, #nextBtn {
    width: 40px;
    cursor: pointer;
    margin: 10px;
}
        }

</style>

<script>
    let scrollContainer = document.querySelector(".card");
    let backBtn = document.getElementById("backBtn");
    let nextBtn = document.getElementById("nextBtn");
    
    nextBtn.addEventListener("click", ()=>{
        scrollContainer.scrollLeft += 900;
    })
    
    backBtn.addEventListener("click", ()=>{
        scrollContainer.scrollLeft -= 900;
    })
</script>