---
import MainLayout from "../components/MainLayout.astro";
import MembershipCard from "../components/MembershipCard.astro";
import Infobox from "../components/InfoBox.astro";
import LoginForm from "../components/LoginForm.astro";
import Calendar from "../components/Calendar.astro";
---

<MainLayout>
  <h1 id="black_h1">Velkommen til Borup Cykel Motion</h1>
  <img src="../../public/team_pic.webp" alt="holdbillede" />

  <LoginForm />

  <Infobox>
    <h1 class="header_box">Kontigentsatser</h1>

    <div class="text_box">
      <p>
        <br />Nedenfor følger kontigentsatser for medlemskab hos Borup Cykel Motion. Du kan melde dig ind nederst på siden.
        <br /><br />Henvendelser vedrørende kontigent henvendes til klubbens kasserer, Torben Hansen, torben.hansen.borup@post.tele.dk
        <br /><br /> 1. Medlemskab for 1 person over 18 år kr. 500
        <br />2. Medlemskab for hele familien kr. 800
        <br />De nævnte beløb dækker kalenderåret og betales uanset indmeldelsestidspunktet.

        <br /><br />Bedes afleveret til klubbens kasserer, Torben Hansen, Stenhøjparken 91, 4140 Borup.

        <br />Informationerne kan også sendes pr. mail: torben.hansen.borup@post.tele.dk

        <br /><br />Betalingsform: Mobile Pay : 80531 eller via. klubbens bankkonto i Nordea Bank:
        <br />Reg.nr. 2360, konto nr. 8128 658 182
      </p>
    </div>
  </Infobox>

  <h1 class="h1_card">Nybegynder</h1>
  <div class="container">
    <MembershipCard header="Medlemmer 18+" price="Kr. 500" />
    <MembershipCard header="Familie-pakke" price="Kr. 800" />
  </div>

  <p class="obs">
    OBS. vi har ikke hold med medlemmer under 18. Medlemmer under 18 skal følges med en voksen, derfor tilbyder vi en familie pakke. Vi tilbyder pladser til max. 20 pr. hold. Først til mølle princip.
  </p>

  <h1 class="h1_card">Øvet</h1>
  <div class="container">
    <MembershipCard header="Medlemmer 18+" price="Kr. 500" />
    <MembershipCard header="Familie hold" price="Kr. 500" />
  </div>

  <p class="obs">
    OBS. vi har ikke hold med medlemmer under 18. Medlemmer under 18 skal følges med en voksen, derfor tilbyder vi en familie pakke. Vi tilbyder pladser til max. 20 pr. hold. Først til mølle princip.
  </p>
  <Calendar/>
</MainLayout>

<style>
  h1 {
    color: #2a3823;
    text-align: center;
  }
  .h1_card {
    background-color: #2a3823;
    color: white;
    padding: 1rem 1rem;
    margin: 0;
  }

  .container,
  .obs {
    padding: 1rem 1rem;
  }

  @media (min-width: 599px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
    }
  }

  .header_box {
    padding: 1rem 1rem;
    background-color: #2a3823;
    margin: 0rem;
    margin-top: 2.5rem;
    color: white;
    text-align: center;
  }

  .text_box {
    display: grid;
    justify-content: center;
    margin: 0rem;
    border: 1px solid;
    color: black;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
  }


</style>
