---
import MainLayout from "../components/MainLayout.astro";
import MembershipCard from "../components/MembershipCard.astro";
---

<MainLayout>
  <h1>Nybegynder</h1>
  <MembershipCard header="Medlemmer 18+" price="Kr. 500" />
  <MembershipCard header="Familie-pakke" price="Kr. 800" />
  <p class="obs">
    OBS. vi har ikke hold med medlemmer under 18. Medlemmer under 18 skal følges med en voksen, derfor tilbyder vi en familie pakke. Vi tilbyder pladser til max. 20 pr. hold. Først til mølle princip.
  </p>

  <h1>Øvet</h1>
  <MembershipCard header="Medlemmer 18+" price="Kr. 500" />
  <MembershipCard header="Familie hold" price="Kr. 500" />
  <p class="obs">
    OBS. vi har ikke hold med medlemmer under 18. Medlemmer under 18 skal følges med en voksen, derfor tilbyder vi en familie pakke. Vi tilbyder pladser til max. 20 pr. hold. Først til mølle princip.
  </p>
</MainLayout>
