---
import MainLayout from "../components/MainLayout.astro";
---

<MainLayout>
<article>   
    <div class="tilbage_btn">
        <a class="box_button" href="/">Tilbage</a>
        </div>

    <section class="grid"> 
       
    <div> 
        <h1>Asfalt-Grus-Asfalt</h1>
        <img src="asfalt-grus-asfalt.webp" alt="Asfalt-Grus-Asfalt">
    </div>
    <div class="text">
        <p>Måtte afsted ved 17 tiden hvor det stadigvæk var tørvejr - det ændrede sig så senere. 
        Kørte mod Haraldsted sø for at køre et stykke af Ringsted oplevelssti som jeg ikke havde kørt før. Det lykkedes, kørte fra Haraldsted skov og til Høm Mølle langs søen og åen. Lignede lidt af Køge Ås. Endte i Høm hvor jeg kørte mod Havbyrd, Nordrup og tog smutvejen mellem Slimminge og Dyndet for at komme hurtigt hjem. Sluttede med ca en times regn.</p>
    </div>
    </section>
</article>

</MainLayout>

<style>
article {
margin: 1rem;
margin-top: 5rem;
}

h1 {
    margin-bottom: 4rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 30px;
    color: white;
}

 .box_button{
        padding: 13px 30px;
        font-size: 14px;
        background-color: #E36C30;
        color: white;
        text-decoration: none;
        margin: 1.5rem;
        padding: 1.5rem;
        border-radius: 1rem;
    }
    .grid {
    display: grid;
    grid-template-columns: 1fr;
        padding: 10px;
        margin-top: 4rem;
        position: relative;
       justify-content: center;
       background-color: #383838;
}    

img {
    width: 100%;
    margin-left: 0.3rem;
    margin-top: -2.5rem;
} 

.text {
    padding: 1rem;
      background: #ffffff;
      color: #383838;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
        font-size: 15px;
        font-style: normal;
        font-weight:lighter;
        line-height: 1.5rem;
        border: 1px solid;
        border-radius: 2rem;
}

@media (min-width:599px) {


h1 {
    margin-bottom: 4rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 50px;
}

 .box_button{
        padding: 13px 30px;
        font-size: 14px;
        background-color: #E36C30;
        color: white;
        text-decoration: none;
        margin: 1.5rem;
        padding: 1.5rem;
        border-radius: 1rem;
    }
    .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
        padding: 10px;
        margin-left: 10px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        position: relative;
       justify-content: center;
}    

img {
    width: 100%;
    margin-left: 0.3rem;
} 

.text {
    padding: 1rem;
      background: #ffffff;
      color: #383838;
      margin-top: 8rem;
      margin-left: 2rem;
        font-size: 15px;
        font-style: normal;
        font-weight:lighter;
        line-height: 1.5rem;
        border: 1px solid;
        border-radius: 2rem;
}

}

</style>