---
import SignUpForm from "../components/SignUpForm.astro";
import MainLayout from "../components/MainLayout.astro";
---
<head>
<link rel="icon" type="image/svg+xml" href="SVG/orangecykel.svg" />
<title>BCM - Indmelding</title>
</head>

<body>
<MainLayout>
  <SignUpForm />
</MainLayout>
</body>

