---
import SignUpForm from "../components/SignUpForm.astro";
import MainLayout from "../components/MainLayout.astro";
---

<title>BCM - Indmelding</title>
<body>
<MainLayout>
  <SignUpForm />
</MainLayout>
</body>

