---
const {data} = Astro.props;
---

<article> 
<h2>{data.title}</h2>
<img src={data.img} alt={data.title}>
</article>

<style>

article img {
    cursor: pointer;
}
article img:hover{
    transition: transform 0.5s;
}

</style>