---
const {data} = Astro.props;
---

<article> 
<h2 class="title">{data.title}</h2>
<img src={data.img} alt={data.title}>
</article>

<style>

article img {
    cursor: pointer;
}

.title {
    position: absolute;
    z-index: 1;
    color: azure;
    background-color: #383838;
    font-family: 'Sofia Sans Variable', sans-serif;
    border-radius: 3px;
}

</style>