---
const {data}= Astro.props;
---
<a href={`news/${data.slug}`}>
<article>
<div>
    <img src={data.img} alt={data.title}>
</div>
</article>
</a>

<style>

img {
      margin: 7rem;
      border-radius: 0;
    }
@media (min-width: 599px) { 
    
    img {
      margin: 10rem;
      border-radius: 0;
    }
    img:hover {
            cursor: pointer;
            transform: scale(1.1);
     }
        
        } 
</style>
