---

---

<div class="gallery-wrap">
    <img src="SVG/button_left.svg" id="backBtn" alt="">
<h1 class="news">Nyheder</h1>

<div class="gallery">
    <div>
        <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24928682546730058/?mibextid=uJjRxr"><img src="asfalt-grus-asfalt.webp" alt="Asfalt-Grus-Asfalt"></a></span>
        <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24998036453128000/?mibextid=uJjRxr"><img src="faelles_skovtur.webp" alt="Fælles Skovtur"></a></span>
        <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24905204962411150/?mibextid=uJjRxr"><img src="morning_gravel_ride.webp" alt="Morning Gravel Ride"></a></span>
    </div>
    <div> 
        <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24716496794615302/?mibextid=uJjRxr"><img src="loevfaldstur.webp" alt="Løvfaldstur i Dyrehaven"></a></span>
        <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24715669648031350/?mibextid=uJjRxr"><img src="hummeloreskoven.webp" alt="Hummeloreskoven"></a></span>
        <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24696308569967458/?mibextid=uJjRxr"><img src="svenstrup_gods_baghave.webp" alt="Svenstrup Gods baghave"></a></span>
    </div>
</div>
    <img src="SVG/button_right.svg" id="nextBtn" alt="">
</div>



<style>

.news {
    font-family: 'Sofia Sans Variable', sans-serif;
    color: #ffff;
    margin-top: 1rem;
    margin-bottom: 20rem;
    margin-right: 67rem;
    position: absolute;
    z-index: 1;
}

    .gallery {
        width: 900px;
        display: flex;
        overflow-x: scroll;
        margin: 1rem;
    }

    .gallery div {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 3rem;
        padding: 10px;
        margin-bottom: 5rem;
        flex: none;
    }

    .gallery div img {
        width: 100%;
        transition: transform 0.5s;
        margin-top: 8rem;
    }

    .gallery:: -webkit-scrollbar{
        display: none;
    }

    .gallery-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5rem;
        background: #383838;
    }

    #backBtn, #nextBtn {
        width: 50px;
        cursor: pointer;
        margin: 40px;
    }

    .gallery div img:hover {
        cursor: pointer;
        transform: scale(1.1);
    } 
</style>

<script>import { extractDirectives } from "../../node_modules/astro/dist/runtime/server/hydration";


let scrollContainer = document.querySelector(".gallery");
let backBtn = document.getElementById("backBtn");
let nextBtn = document.getElementById("nextBtn");

nextBtn.addEventListener("click", ()=>{
    scrollContainer.scrollLeft += 900;
})

backBtn.addEventListener("click", ()=>{
    scrollContainer.scrollLeft -= 900;
})

</script>