---

---

<footer>
  <div class="container">
    <h3>Køredage</h3>
    <p>Tirsdag & Torsdag: kl: 17:30 (marts - september)</p>
    <p>Tirsdag & Torsdag: kl: 16:30 (1. oktober - sommertid)</p>
  </div>
  <div class="container">
    <h3>Kontakt</h3>
    <p>Borup Cykel Motion</p>
    <address>Borup Hallen v/Pejsestuen 4140 Borup</address>
    <p>Formand tlf: 51 16 89 21</p>
  </div>
  <div class="socials">
    <a href="#"><img src="../../public/SVG/instagram.svg" alt="instagram" /></a>
    <a href="#"><img src="../../public/SVG/facebook.svg" alt="facebook" /></a>
  </div>
</footer>

<style>
  footer {
    background-color: #383838;
    color: #ece7e3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
  }

  img {
    width: 20%;
    height: auto;
    object-fit: cover;
  }
</style>
