---

---

<article>
<h1 class="header_box">Kontigentsatser</h1>

<div class="text_box">
<p><br>Nedenfor følger kontigentsatser for medlemskab hos Borup Cykel Motion. Du kan melde dig ind nederst på siden. 
<br><br>Henvendelser vedrørende kontigent henvendes til klubbens kasserer, Torben Hansen, torben.hansen.borup@post.tele.dk
<br><br> 1. Medlemskab for 1 person over 18 år kr. 500
<br>2. Medlemskab for hele familien kr. 800
<br>De nævnte beløb dækker kalenderåret og betales uanset indmeldelsestidspunktet.

<br><br>Bedes afleveret til klubbens kasserer, Torben Hansen, Stenhøjparken 91, 4140 Borup.

<br>Informationerne kan også sendes pr. mail: torben.hansen.borup@post.tele.dk

<br><br>Betalingsform: Mobile Pay : 80531 eller via. klubbens bankkonto i Nordea Bank:
<br>Reg.nr. 2360, konto nr. 8128 658 182
</p>
</div>
</article>

<style>
    h1 {
    color: white;
    text-align: center;
}

.header_box {
padding: 1rem 1rem;
background-color: #2A3823;
margin: 0rem;
margin-top: 2.5rem;
}

.text_box {
display: grid;
justify-content: center;
margin: 0rem;
border: 1px solid;
color: black;
padding: 1.5rem;
margin-bottom: 2.5rem;
}

</style>