---

---

<h1>Login</h1>
<form method="post">
  <div class="txt_field">
    <label for="username">Brugernavn</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div class="txt_field">
    <label for="password">Adgangskode</label>
    <input type="password" id="password" name="password" required />
  </div>
  <p>Glemt kode?</p>
  <input type="submit" value="Login" />
  <div class="signup_link">Ikke medlem? <a href="#">Bliv medlem</a></div>
</form>
