---

---

   <div class="container_forms">
        <div class="form-box_login">
          
            <div class="form-content">
                <h2>LOGIN</h2>
                <form action="#">
                    <div class="input-field">
                        <input type="text" required>
                        <label>Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" required>
                        <label>Adgangskode</label>
                    </div>
                     <button type="submit">Log In</button><br>
                    <a href="#" class="forgot-pass-link">Forgot password?</a>
                   
                </form>
                <div class="bottom-link">
                    Don't have an account?
                    <a href="#" id="signup-link">Signup</a>
                </div>
            </div>
        </div>

        <script>
            /* login form */
  const activatePopup = document.querySelector(".login_link");
  const showPopup = document.querySelector(".container_forms");
  const formBox = document.querySelector(".form-box_login")


// Show login popup
activatePopup.addEventListener("click", () => {
    showPopup.classList.toggle("active");
    formBox.classList.toggle("active");
});


showPopup.addEventListener("click", removePopup);

function removePopup(){
  showPopup.classList.remove("active");
      formBox.classList.remove("active");
}
        </script>

<style>/* login form */

  .acc:hover{
  background-color:var(--primary-orange);
  border-radius: 100%;
   padding:1rem;

  }

  .form-content{
        width: 100%;
    padding: 2rem;
    
  }


  form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #717171;
    border-radius: 3px;
}
.input-field input:focus {
    border: 1px solid var(--primary-orange);
}
.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}
.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}
.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: var(--primary-orange);
    font-size: 0.75rem;
}

  .container_forms{
    display:none;
  }


  .container_forms.active{
    display:block;
    position:absolute;
    z-index: 4;
    width: auto;
    height:auto;
    background-color:var(--primary-dgreen);
    color:var(--primary-lgray);
    border-radius:5px;
    padding-bottom: 0.5rem;
    right: 0.1rem;
  }
 button {
    background-color: var(--primary-orange);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: none;
    color:var(--primary-lgray);
    display: inline-block;
    padding: 0.5rem 0.5rem;
    margin:1rem 0;
    width:100%
  }

  button:hover{
    text-decoration:underline;
  }

   #signup-link, .forgot-pass-link{
   
    color:var(--primary-orange);
    text-decoration:none;
  }

  

  .forgot-pass-link:hover, #signup-link:hover{
    text-decoration:underline;
  }
</style>