---
const { title } = Astro.props;
import Footer from "../components/Footer.astro";

import "@fontsource-variable/sofia-sans";
import "@fontsource/poppins";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Sofia+Sans+Semi+Condensed:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../pages/css/style.css" />

    <title>{title}</title>
  </head>
  <body>
    <header>
      <!-- indsæt header her -->
      <a href="/signup_membership">Medlemsskab sign up</a>
      <a href="/membership_page">Medlemsskab</a>
      <a href="/info">Information</a>
      <a href="/contact">Kontakt</a>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  main {
    display: block;
    max-width: 1200px;
    margin: auto;
  }
</style>
