---

---

<h1>Indmelding</h1>
<section>
  <form method="get">
    <label for="name">Navn:</label>
    <input type="text" id="name" name="name" required /><br />

    <label for="lastname">Efternavn:</label>
    <input type="text" id="lastname" name="lastname" required /><br />

    <label for="email">E-mail</label>
    <input type="email" id="email" placeholder="din.mail@mail.dk" /><br />

    <label for="phone">Telefon:</label>
    <input type="tel" id="phone" name="phone" required /><br />

    <label for="bday">Fødselsdag</label>
    <input type="date" id="bday" /><br />
    <label for="adress">Adresse</label>
    <input type="text" id="adress" /><br />
    <div class="checkbox">
      <label for="terms">Jeg accepterer klubbens <a href="#">privatlivspolitik</a></label>
      <input type="checkbox" id="terms" />
    </div>
  </form>
</section>

<style>
  h1 {
    background-color: #2a3823;
    color: white;
    padding: 1rem 1rem;
    margin: 0;
  }
  section {
    border: 1px solid black;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
  }

  form {
    position: relative;
  }
  input,
  label {
    display: block;
    border-radius: 5px;
  }

  input {
    padding: 0.5rem;
    width: 100%;
    border-style: solid;
  }

  input:hover {
    border-color: #d38644;
  }

  .checkbox {
    display: inline-block;
  }

  @media (min-width: 599px) {
    input {
      padding: 0.5rem;
      width: 35rem;
    }
  }
</style>
