---

---

<form method="get">
  <label for="name">Navn:</label>
  <input type="text" id="name" name="name" required /><br />

  <label for="lastname">Efternavn:</label>
  <input type="text" id="lastname" name="lastname" required /><br />

  <label for="email">E-mail</label>
  <input type="email" id="email" placeholder="din.mail@mail.dk" /><br />

  <label for="phone">Telefon:</label>
  <input type="tel" id="phone" name="phone" required /><br />
</form>
