<div class="gallery">
    <div>
        <span>
            <img src="../../public/asfalt-grus-asfalt.webp" alt="">
            <img src="../../public/asfalt-grus-asfalt.webp" alt="">
            <img src="../../public/faelles_skovtur.webp" alt="">
        </span>
    </div>
</div>