<h2 class="sponsor">Sponsorer</h2>
<div class="logos">
    <div class="logos-slide">
        <a aria-label="Gå til Eb teknik hjemmeside" href="https://ebteknik.dk/"><img src="/logos/eb-logo.webp" alt=""></a>
        <a aria-label="Gå til Brødrende olsens hjemmeside" href="http://www.brdrolsen.dk/"><img src="/logos/brdr-logo.webp" alt=""></a>
        <a aria-label="Gå til enstall hjemmeside" href="https://www.enstall.dk/"><img src="/logos/enstall-logo.webp" alt=""></a>
        <a aria-label="Gå til fri bikeshop hjemmeside" href="https://www.fribikeshop.dk/butikker/koege"><img src="/logos/fbs-logo.webp" alt=""></a>
        <a aria-label="Gå til Spars hjemmeside" href="https://spar.dk/"><img src="/logos/spar-logo.webp" alt=""></a>
        <a aria-label="Gå til Skensveds slagter hjemmeside" href="https://skensvedslagteren.dk/"><img src="/logos/ss-logo.webp" alt=""></a>
        <a aria-label="Gå til Stokholm transport hjemmeside" href="https://stokholm.tech/"><img src="/logos/st-logo.webp" alt=""></a>
        <a aria-label="Gå til benefit hjemmeside" href="https://www.benefit.dk/osted"><img src="/logos/logo_benefit.svg" alt=""></a>
    </div>
</div>

<style>
    @keyframes slide{
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
    }
    .sponsor{
        padding: 1rem;
        text-align: center;
        color: var(--primary-lgray);
        background-color: var(--secondary-dgray);
    }
    .logos{
        overflow: hidden;
    }
    .logos:hover .logos-slide{
        animation-play-state: paused;
    }
    .logos-slide{
        animation: 5s slide infinite linear;
        white-space: nowrap;
        animation: 20s slide  infinite linear;
    } 
    .logos-slide img{
    padding: 30px 0;
    width: 100px;
    height: auto;
    margin:  0 40px;
}
</style>